/* || general */

:root{
    --primary-color-dark: #007ABC;
}

html{
    color: var(--text-color);
}

body{
    background-color: var(--lynx-white-color);
}

/* || landing */

.header{
    background-color: var(--white-color);
}

.page-title{
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    /* color: var(--primary-color); */
}

.quiz-card-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}

/* || rules */

.rules-card, .quiz-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-card{
    flex-direction: column;
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 2rem;
    background-color: var(--white-color);
    margin-top: 5rem;
}

.rules-card li{
    list-style: none;
    margin: 1rem 0;
    font-weight: 300;
    font-size: 1.3rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.rules-card .fa-info-circle{
    color: var(--primary-color);
}

.green-text, .red-text{
    font-weight: 600;
}

.green-text{
    color: var(--green-color-400);
}

.red-text{
    color: var(--red-color-400);
}

.btn-primary:hover{
    background-color: var(--primary-color-dark);
}

section{
    margin: 1rem 0;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.hero-content .btn{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    height: auto;
    flex-wrap: wrap;
}

.hero-content h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.hero-content text{
    font-size: 1.5rem;
    font-weight: 300;
}

.hero .img-wrapper{
    max-width: 40vw;
}

.quick-quiz h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* || quiz */

.quiz-page-container{
    flex-direction: column;
    gap: 3rem;
    margin: 2rem 0;
}

.question-score{
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.quiz-container li{
    list-style: none;
    padding: 1rem 10rem;
    background-color: var(--white-color);
    margin: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-color-100);
    font-size: 1.2rem;
    cursor: pointer;
}

.quiz-container h3{
    font-weight: 300;
    font-size: 1.5rem;
}

.quiz-container .answer-correct{
    background-color: var(--green-color-400);
    color: var(--white-color);
}

.quiz-container .answer-wrong{
    background-color: var(--red-color-400);
    color: var(--white-color);
}

/* || category */

.categories h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0;
    text-align: center;
}

.category{
    font-size: 3rem;
    font-weight: 200;
    width: fit-content;
    position: relative;
    color: var(--text-color);
}

.category .img-round-sizing{
    width: 18rem;
    height: 18rem;
}

.category-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.category-container:nth-child(n){
    align-items: center;
    justify-items: center;
}

.category > text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(234, 234, 236,0.4);
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
}